* {
  box-sizing: border-box;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-bottom: 10px;
  max-width: 100%;
  border-radius: 4px;
  background: #7ba7ab;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.45);
}

.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search-form input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #9e9c9c;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7ba7ab;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-form button:before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}

/* Gallery styles */
/* .gallery {
  margin: 20px auto 0;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.photo-card {
  border-top: 1px solid #7ba7ab;
  border-radius: 8px;
  overflow: hidden;
}


img {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 2px;
} */

/* return `<div class="photo-card">
    <a href="">
      <img src="${webformatURL}" alt="${tags}" loading="lazy" /></a>
        <div class="info">
          <p class="info-item">
            <b>Likes</b> ${likes}
          </p>
          <p class="info-item">
            <b>Views</b> ${views}
          </p>
          <p class="info-item">
            <b>Comments</b> ${comments}
          </p>
          <p class="info-item">
            <b>Downloads</b> ${downloads}
          </p>
        </div>
      </div> `;
      }
    ) */

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery img:hover {
  transform: scale(1.03);
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.photo-link:hover {
  cursor: zoom-in;
}

.info {
  height: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.info-item {
  text-wrap: wrap;
  align-self: center;
  text-align: center;
}
